Test-Command: phpcs -v --standard=tests/phpcs/ruleset.xml /usr/share/php/Sabre/VObject
Depends: @, php-codesniffer

Test-Command: cd tests && phpunit
Restrictions: rw-build-tree
Depends: @, php-symfony-classloader, phpunit
